asgiref==3.11.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.8.0
Django==6.0
fonttools==4.61.1
idna==3.11
pdfkit==1.0.0
pillow==12.0.0
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
requests==2.32.5
sqlparse==0.5.4
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.2
urllib3==2.6.1
webencodings==0.5.1
wkhtmltopdf==0.2
zopfli==0.4.0
